In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('data/MICRODADOS_SARESP_2019.csv', sep=',') #, error_bad_lines=False)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

/Users/marcello/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (13,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.head()

,CD_ALUNO,NOMEDEP,NomeDepBol,RegiaoMetropolitana,CDREDE,DE,CODMUN,MUN,CODESC,TIPOCLASSE,...,TOTAL_PONTO_MAT,porc_ACERT_lp,porc_ACERT_mat,profic_lp,profic_mat,nivel_profic_lp,nivel_profic_mat,classific_lp,classific_mat,VALIDADE
0,54425,ESTADUAL-SE,Rede Estadual,Interior,20803,BIRIGUI,753,LOURDES,30193,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,199609,ESTADUAL-SE,Rede Estadual,Interior,20313,ITARARE,365,ITABERA,39718,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
2,338808,ESTADUAL-SE,Rede Estadual,Região Metropolitana de São Paulo,10317,SUL 1,100,SAO PAULO,41750,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
3,1743905,ESTADUAL-SE,Rede Estadual,Interior,20908,SANTO ANASTACIO,240,CAIUA,904211,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1746017,ESTADUAL-SE,Rede Estadual,Interior,20801,ANDRADINA,480,NOVA INDEPENDENCIA,29324,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1

In [10]:
df.shape

(970744, 38)

In [11]:
df2 = pd.read_csv('data/new_MICRODADOS_SARESP_2019.csv', sep=';') #, error_bad_lines=False)

/Users/marcello/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df2.head()

,CD_ALUNO,NOMEDEP,NomeDepBol,RegiaoMetropolitana,CDREDE,DE,CODMUN,MUN,CODESC,TIPOCLASSE,...,TOTAL_PONTO_MAT,porc_ACERT_lp,porc_ACERT_mat,profic_lp,profic_mat,nivel_profic_lp,nivel_profic_mat,classific_lp,classific_mat,VALIDADE
0,54425,ESTADUAL-SE,Rede Estadual,Interior,20803,BIRIGUI,753,LOURDES,30193,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,199609,ESTADUAL-SE,Rede Estadual,Interior,20313,ITARARE,365,ITABERA,39718,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
2,190846,ESTADUAL-SE,Rede Estadual,Interior,20305,ITAPEVA,756,NOVA CAMPINA,915117,0,...,0,0,0,"153,4",NaN,Abaixo do Básico,NaN,Insuficiente,NaN,1
3,317226,ESTADUAL-SE,Rede Estadual,Interior,20301,APIAI,737,BARRA DO CHAPEU,14412,0,...,12,"66,7",50,"324,9","316,7",Adequado,Básico,Suficiente,Suficiente,1
4,318858,ESTADUAL-SE,Rede Estadual,Interior,20702,FERNANDOPOLIS,444,MERIDIANO,27005,0,...,5,"54,2","20,8","277,6","227,3",Básico,Abaixo do Básico,Suficiente,Insuficiente,1

In [13]:
df2.shape

(1050917, 38)